name: Release POM to Sonatype

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write
  pull-requests: write
  
jobs:
  release:
    uses: liquibase/build-logic/.github/workflows/pom-release-published.yml@v0.4.4
    secrets: inherit